.rect1{
    height:150px;
    width:600px;
    background-color: rgb(255, 106, 0);
}

.rect2{
    height:150px;
    width:600px; 
}

.rect3{
    height:150px;
    width:600px;
    background-color: rgb(11, 255, 88);
}

.ashk{
    height:1px;
    width:1px;
    background-color: blue;
    margin: 5px;
    
}
img{
    height:150px;
    width:150px;
    margin-left: 200px ; 
}